examples/01 - FS Copy.json
[{"id":"124e75ba439e6288","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Copy File","info":"","x":210,"y":1440,"wires":[]},{"id":"7446e72daf0e7bcb","type":"inject","z":"99ba5eb4.8829d8","name":"send content","props":[{"p":"payload"},{"p":"filename","v":"fs-copy_test-file.txt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Lorem ipsum dolor sit amet consectetur adipiscing elit senectus class nunc, tortor curabitur netus morbi cubilia fames potenti nibh elementum, euismod ad vel nec parturient in habitant dui eros. Quis lorem suscipit viverra congue sit magnis taciti sapien nostra, risus quisque integer iaculis feugiat habitasse aliquam porttitor vehicula, donec luctus tempus dapibus consectetur mattis cubilia dignissim.","payloadType":"str","x":230,"y":1560,"wires":[["da34f230595f4af9"]]},{"id":"da34f230595f4af9","type":"file","z":"99ba5eb4.8829d8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":380,"y":1560,"wires":[["e0d448c681354177"]]},{"id":"f6d6a9c89f25ac85","type":"comment","z":"99ba5eb4.8829d8","name":"Create a file in the working folder","info":"","x":270,"y":1500,"wires":[]},{"id":"2abd177f095c9396","type":"comment","z":"99ba5eb4.8829d8","name":"Create a copy of the file","info":"","x":920,"y":1500,"wires":[]},{"id":"92e9cfad13c57251","type":"fs-copy-move","z":"99ba5eb4.8829d8","oper":"cp","srcPath":"","srcPathType":"str","srcFilename":"filename","srcFilenameType":"msg","dstPath":"","dstPathType":"str","dstFilename":"payload","dstFilenameType":"msg","overwrite":true,"name":"","x":880,"y":1560,"wires":[[]]},{"id":"8491a862f92974d7","type":"split","z":"99ba5eb4.8829d8","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":1560,"wires":[["92e9cfad13c57251"]]},{"id":"e0d448c681354177","type":"change","z":"99ba5eb4.8829d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"first_copy.txt\",\"fake.txt\",\"Other file.txt\"]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1560,"wires":[["8491a862f92974d7"]]},{"id":"08338d3ed6cb55d9","type":"comment","z":"99ba5eb4.8829d8","name":"Repeat operation for the several names","info":"","x":650,"y":1500,"wires":[]}]