examples/02 - FS Move.json
[{"id":"dfa5d29c676c8790","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Move File","info":"","x":210,"y":1640,"wires":[]},{"id":"b27451faa4df9d48","type":"inject","z":"99ba5eb4.8829d8","name":"send content","props":[{"p":"payload"},{"p":"filename","v":"fs-move_test-file.txt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Lorem ipsum dolor sit amet consectetur adipiscing elit nisl, accumsan torquent ligula vehicula sodales congue lacus, dictumst dignissim fames pellentesque a cursus ultrices. Ultrices euismod torquent cubilia suscipit semper lacinia mattis odio, congue sociosqu lacus magna vel tincidunt enim risus libero, porttitor ipsum sollicitudin volutpat metus suspendisse leo.","payloadType":"str","x":230,"y":1760,"wires":[["9ebc2fa7b2708d17"]]},{"id":"9ebc2fa7b2708d17","type":"file","z":"99ba5eb4.8829d8","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":380,"y":1760,"wires":[["243082b8a02ea741"]]},{"id":"31566c7f537f4004","type":"comment","z":"99ba5eb4.8829d8","name":"Create a file in the working folder","info":"","x":270,"y":1700,"wires":[]},{"id":"1124e0b04167ae28","type":"comment","z":"99ba5eb4.8829d8","name":"Rename (move) the file","info":"","x":600,"y":1700,"wires":[]},{"id":"243082b8a02ea741","type":"fs-copy-move","z":"99ba5eb4.8829d8","oper":"mv","srcPath":"","srcPathType":"str","srcFilename":"filename","srcFilenameType":"msg","dstPath":"","dstPathType":"str","dstFilename":"fs-move_renamed-file.txt","dstFilenameType":"str","overwrite":true,"name":"","x":560,"y":1760,"wires":[[]]}]