examples/04 - FS Remove.json
[{"id":"a723c1b98da9ac2e","type":"file","z":"99ba5eb4.8829d8","name":"write to file","filename":"fs-remove-test-file.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":710,"y":1060,"wires":[[]]},{"id":"a59faea6718a9752","type":"inject","z":"99ba5eb4.8829d8","name":"send content","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Lorem ipsum dolor sit amet consectetur adipiscing elit mollis etiam curae proin, justo purus felis placerat natoque fusce metus dui dictumst facilisis. Nostra blandit donec non convallis platea nisi commodo luctus rutrum suscipit sit, odio dis dictumst orci lectus nunc metus adipiscing dapibus phasellus, elementum mauris ornare natoque consectetur facilisis at nec dictum tempor.","payloadType":"str","x":530,"y":1060,"wires":[["a723c1b98da9ac2e"]]},{"id":"e67d516e1377e419","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Remove File","info":"","x":220,"y":1000,"wires":[]},{"id":"b53bd28d563c8756","type":"comment","z":"99ba5eb4.8829d8","name":"Create a file in the working folder","info":"","x":290,"y":1060,"wires":[]},{"id":"c8f17331c9d06606","type":"fs-remove","z":"99ba5eb4.8829d8","path":"","pathType":"str","filename":"fs-remove-test-file.txt","filenameType":"str","recursive":true,"exist":false,"name":"","x":710,"y":1120,"wires":[[]]},{"id":"657c01b4dc9595d6","type":"inject","z":"99ba5eb4.8829d8","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":510,"y":1120,"wires":[["c8f17331c9d06606"]]},{"id":"7c0f78f61e6e1801","type":"comment","z":"99ba5eb4.8829d8","name":"Delete the created file","info":"","x":260,"y":1120,"wires":[]}]