examples/05 - FS Make Regular Folder.json
[{"id":"bea56831.111e3","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Create Regular Folder","info":"","x":250,"y":600,"wires":[]},{"id":"d49a8c39.434be8","type":"inject","z":"99ba5eb4.8829d8","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":720,"wires":[["931a718a.65898"]]},{"id":"30d34dff.e5cc8a","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":720,"wires":[]},{"id":"800a3565.e8dfa8","type":"comment","z":"99ba5eb4.8829d8","name":"Fire","info":"","x":210,"y":660,"wires":[]},{"id":"4e5e9f26.fe725","type":"comment","z":"99ba5eb4.8829d8","name":"Show the result folder name","info":"","x":680,"y":660,"wires":[]},{"id":"d1d19cfa.7ac3c","type":"comment","z":"99ba5eb4.8829d8","name":"Create a folder","info":"","x":420,"y":660,"wires":[]},{"id":"931a718a.65898","type":"fs-mkdir","z":"99ba5eb4.8829d8","name":"","purpose":"reg","path":"~","pathType":"str","foldername":"folder/subfolder","foldernameType":"str","recursive":true,"exists":false,"prefix":"","prefixType":"str","mode":"755","modeType":"str","property":"payload","propertyType":"msg","x":420,"y":720,"wires":[["30d34dff.e5cc8a"]]}]