examples/06 - FS Make Temporary Folder.json
[{"id":"8c40ef0e.b5678","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Create Temporary Folder","info":"","x":260,"y":800,"wires":[]},{"id":"1cbc55bb.8d9832","type":"inject","z":"99ba5eb4.8829d8","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":210,"y":920,"wires":[["7283edca.67ed24"]]},{"id":"af105566.57a1e","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":920,"wires":[]},{"id":"ae030f1e.dd009","type":"comment","z":"99ba5eb4.8829d8","name":"Fire","info":"","x":210,"y":860,"wires":[]},{"id":"5ec23597.788d14","type":"comment","z":"99ba5eb4.8829d8","name":"Show the result folder name","info":"","x":680,"y":860,"wires":[]},{"id":"dec28477.ef849","type":"comment","z":"99ba5eb4.8829d8","name":"Create a folder","info":"","x":420,"y":860,"wires":[]},{"id":"7283edca.67ed24","type":"fs-mkdir","z":"99ba5eb4.8829d8","name":"","purpose":"tmp","path":"","pathType":"str","foldername":"","foldernameType":"str","recursive":false,"exists":false,"prefix":"myflow_","prefixType":"str","mode":"755","modeType":"str","property":"payload","propertyType":"msg","x":420,"y":920,"wires":[["af105566.57a1e"]]}]