examples/07 - FS List.json
[{"id":"219355bb.b6285a","type":"fs-list","z":"99ba5eb4.8829d8","name":"","path":"folder","pathType":"msg","pattern":"*","patternType":"str","filter":"all","recursive":false,"follow":true,"property":"list","propertyType":"msg","x":450,"y":260,"wires":[["cd297a6.3403e08"]]},{"id":"f19ae4fa.686b48","type":"inject","z":"99ba5eb4.8829d8","name":"Linux + Mac","props":[{"p":"folder","v":"/etc","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":240,"wires":[["219355bb.b6285a"]]},{"id":"d849e66f.3270e8","type":"inject","z":"99ba5eb4.8829d8","name":"Windows","props":[{"p":"folder","v":"C:\\Windows","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":280,"wires":[["219355bb.b6285a"]]},{"id":"cd297a6.3403e08","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"list","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"c4faa2bd.ba531","type":"comment","z":"99ba5eb4.8829d8","name":"Use input to suit your OS","info":"","x":250,"y":180,"wires":[]},{"id":"77e6411b.8a527","type":"comment","z":"99ba5eb4.8829d8","name":"Show the result","info":"","x":620,"y":180,"wires":[]},{"id":"415f2a0e.22a7cc","type":"comment","z":"99ba5eb4.8829d8","name":"Get a list","info":"","x":460,"y":180,"wires":[]},{"id":"75db59ef2a19e09c","type":"comment","z":"99ba5eb4.8829d8","name":"Example: List Content of Folder","info":"","x":250,"y":120,"wires":[]}]