examples/08 - FS Stats.json
[{"id":"a75c431e.539778","type":"comment","z":"99ba5eb4.8829d8","name":"Example: Get Stats of File","info":"","x":230,"y":360,"wires":[]},{"id":"4b555df7.48285c","type":"inject","z":"99ba5eb4.8829d8","name":"Linux + Mac","props":[{"p":"path","v":"/etc","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":480,"wires":[["9336d7c3.c165d8"]]},{"id":"2dac848e.603784","type":"inject","z":"99ba5eb4.8829d8","name":"Windows","props":[{"p":"path","v":"C:\\Windows\\System\\etc","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":220,"y":520,"wires":[["9336d7c3.c165d8"]]},{"id":"46975b0e.9d09fc","type":"debug","z":"99ba5eb4.8829d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"da8fb282.381c3","type":"comment","z":"99ba5eb4.8829d8","name":"Use input to suit your OS","info":"","x":250,"y":420,"wires":[]},{"id":"dc4d952.9a9d1e8","type":"comment","z":"99ba5eb4.8829d8","name":"Show the result","info":"","x":640,"y":420,"wires":[]},{"id":"6e3c9fb1.598538","type":"comment","z":"99ba5eb4.8829d8","name":"Get the stats","info":"","x":470,"y":420,"wires":[]},{"id":"9336d7c3.c165d8","type":"fs-stats","z":"99ba5eb4.8829d8","name":"","path":"path","pathType":"msg","filename":"hosts","filenameType":"str","attr":"","follow":true,"property":"stats","propertyType":"msg","x":460,"y":500,"wires":[["46975b0e.9d09fc"]]}]